# Python Libraries / Librerías Python
from flask         import Blueprint
from flask_restful import Api

# Success Libraries / Librerías Success

# Application Libraries / Librerías de la Aplicación
from apps.{{app}}.services.{{protocol}}.{{service}}.{{version}}.{{module}}                     import bp
from apps.{{app}}.services.{{protocol}}.{{service}}.{{version}}.{{module}}.{{action}}.Action import Action
from apps.{{app}}.services.{{protocol}}.{{service}}.{{version}}.{{module}}.{{action}}.Input    import Input
from apps.{{app}}.services.{{protocol}}.{{service}}.{{version}}.{{module}}.{{action}}.Output   import Output

# Preconditions / Precondiciones
bp.add_url_rule ( "/{{action}}", view_func = Action.as_view (  ), methods = [ "GET" ] )