# Python Libraries / Librerías Python
from flask                 import render_template
from flask                 import Response
from jsonschema.exceptions import ValidationError

# Success Libraries / Librerías Success
from success.engine.io.SuccessViewAction import SuccessViewAction
from success.common.tools.SuccessStructs import SuccessStructs

# Application Libraries / Librerías de la Aplicación
from apps.{{app}}.services.{{protocol}}.{{service}}.{{version}}.{{module}}.{{action}}.Input  import Input
from apps.{{app}}.services.{{protocol}}.{{service}}.{{version}}.{{module}}.{{action}}.Output import Output
from apps.{{app}}.modules.{{service}}.{{version}}.controllers.Collection                     import Collection

# Preconditions / Precondiciones


class Action ( SuccessAction, MethodView ) :


  def __init__ ( self ) -> None :
    self._input      = Input ()
    self._output     = Output ( True )
    self._controller = {{controller}} ()
    super ().__init__ ()


  def get ( self ) -> Response :
    pass


  def post ( self ) -> Response :
    pass
    try :
      payload = self._input.parse ().validate ()

      if payload._errors :
        return self._output.failure (
          detail = "; ".join ( payload._errors ),
          redir = SuccessStructs.redirect (
            enabled = True,
            target = "db_view.index",
            context  = {
              "tenant" : payload.get ( "tenant" ),
              "database_name" : payload.get ( "database_name" )
            }
          )
        )

      response = self._controller.create ( payload._validatedData )

      if response [ "status" ] == 200 :
        return self._output.success ( 
          message = f"La colección '{payload._validatedData [ 'collection_name' ]}' se ha creado correctamente.",
          redir   = SuccessStructs.redirect (
            enabled  = True,
            target = "db_view.index",
            context  = {
              "tenant" : payload.get ( "tenant" ),
              "database_name" : payload.get ( "database_name" )
            }
          )
        )

      else :
        message = f"Error al crear la colección '{payload._validatedData [ 'collection_name' ] }'"
        return self._output.failure (
          message = message,
          detail = response.get ( "error", response.get ( "text", "Error desconocido" ) ),
          redir = SuccessStructs.redirect (
            enabled  = True,
            target = "db_view.index",
            context  = {
              "tenant" : payload.get ( "tenant" ),
              "database_name" : payload.get ( "database_name" )
            }
          )
        )

    except Exception as e :
      print ( f"EXCEPCIÓN: {e}" )
      import traceback
      traceback.print_exc ()
      raise
