# ----------------------------------------------------------
# Success Configuration / Configuración de Success
# ----------------------------------------------------------
APP_ENV = 'development' # It can take the values default | development | local | production | staging | testing
APP_HOST = '0.0.0.0'
APP_PORT = 5000
BASE_URL = 'http://success.local:5000'
SERVER_NAME = success.local
DEBUG = True
SECRET_KEY = 'success_secret_key'  # Change this!
API_KEY = 'success_api_key'  # Change this!
SUCCESS_APP_PREFIX = 
SUCCESS_DEBUG_CONSOLE = True
SUCCESS_STAGING = False
SUCCESS_TESTING = False
SUCCESS_STRICT_SLASHES = False
SUCCESS_MAIN_APP = "app1"
SUCCESS_SECONDARY_APPS = [ "app2" ]
SUCCESS_APPS_PATH = "apps"
SUCCESS_ALLOW_NO_MAIN_APP = False
SUCCESS_SAVE_MODE = False
# SUCCESS_HOOK_AUDIT_LEVEL = STRICT | LENIENT | OFF
SUCCESS_SHOW_SUMMARY=true
SUCCESS_SUMMARY_LEVEL=FULL  # Options: NONE | BASIC | FULL
SUCCESS_HUMOR_ENABLED = False
SUCCESS_MOOD_LANG = 'es'
SUCCESS_APP_MAIN = False
SUCCESS_APP_TYPE = "multiApp" # singleApp | multiApp
SUCCESS_APP_MODE = "path" # standard | path | subdomain


# ---------------------------------------
# Logger Configuration / Configuración Logger
# ---------------------------------------
LOGGER_ADMIN = 'username@domain.com'
LOGGER_BACKUP_COUNT = 30
LOGGER_CONSOLE = True
LOGGER_DIR = './log/error_success.log'
LOGGER_ENCODING = 'utf-8'
LOGGER_FILE = True
LOGGER_FORMAT = f"%(asctime)s - [%(levelname)s] - %(name)s - (%(filename)s).%(funcName)s(%(lineno)d) - %(message)s - %(threadName)s"
LOGGER_FORMATER = 'json'
LOGGER_LEVEL = 'ERROR'
LOGGER_MAIL_ENABLED = False
LOGGER_MAIL_PASSWORD = 'pmal nanu beqn xllr'
LOGGER_MAIL_PORT = 587
LOGGER_MAIL_SERVER = 'smtp.domain.com'
LOGGER_MAIL_SSL = False
LOGGER_MAIL_TLS = True
LOGGER_MAIL_USERNAME = 'username@domain.com'
LOGGER_MAX_BYTES = 1000000
LOGGER_MAX_RETRIES = 3
LOGGER_MESSAGE_SUBJECT = 'Alerta critica en el sistema'
LOGGER_ROTATE_INTERVAL = 1
LOGGER_TEMPLATE_FORMAT_MESSAGE = 
LOGGER_TEMPLATE_HTML_ERROR = 'SuccessErrorAlert.html'
LOGGER_TEMPLATE_HTML_EXCEPTION = 'SuccessExceptionAlert.html'
LOGGER_ROTATE_WHEN = 'midnight'
