# Python Libraries / Librerías Python
from pathlib import Path

# Success Libraries / Librerías Success
from success.engine.infrastructure.SuccessHookManager import Hooks

# Application Libraries / Librerías de la Aplicación

# Preconditions / Precondiciones
hooks = Hooks ()
