aniso8601
async-timeout
attrs
blinker
cachelib
click
colorama
Deprecated
Flask
Flask-Admin
Flask-APScheduler
Flask-Babel
Flask-Caching
Flask-Cors
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Mail
flask-marshmallow
Flask-Migrate
flask-redis
Flask-RESTful
Flask-Security
Flask-Security-Too
Flask-Session
Flask-SQLAlchemy
Flask-Uploads
greenlet
gunicorn
importlib-metadata
itsdangerous
Jinja2
jsonschema
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
psycopg2
psycopg2-binary
pycryptodomex
PyJWT
pyparsing
pyrsistent
PyPDF2
python-docx
python-dotenv
python-json-logger
pytz
redis
requests
six
SQLAlchemy
Werkzeug
wrapt
zipp
