{% raw %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ service }} | {{ module }} / {{ action }}</title>
</head>
<body>
  <h1>SUCCESSFUL</h1>
  <p>Vista: {{ app }}/services/{{ protocol }}/{{ service }}/{{ version }}/{{ module }}/{{ action }}</p>
</body>
</html>
{% endraw %}

{
  "status": 200,
  "msg": "SUCCESSFUL",
  "type": "INFO",
  "url": "/prueba_view/view/chromadb/v1/admin/dashboard"
}